.healthBar {
    background-image: url('project://database/Assets/Resourses/Images/UI_Interfaces/Healthbar.png?fileID=21300000&guid=f5325b20ca69be3498eab3ad6b9b7a2c&type=3#Healthbar');
    -unity-background-image-tint-color: rgb(224, 224, 224);
    width: 70%;
    height: 17%;
    left: auto;
    flex-shrink: 0;
}

.healthBarForeground {
    width: 100%;
    height: 100%;
    background-image: url('project://database/Assets/Resourses/Images/UI_Interfaces/Healthbar.png?fileID=21300000&guid=f5325b20ca69be3498eab3ad6b9b7a2c&type=3#Healthbar');
    -unity-background-image-tint-color: rgb(129, 208, 161);
    flex-shrink: 0;
}
